/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Helvetica';
}

sup {
  vertical-align: super;
  font-size: 10px;
}
/*
  ========================================
  Sticky Header
  ========================================
*/

.sticky-header {
  background-color: #ffffff;
  height: fit-content;
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  z-index: 999;
}

.nav-bar {
  width: 30px;
  float: right;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
}

.menu-icon > .line {
  background-color: #adadad;
  height: 3px;
  display: block;
  border-radius: 1.5px;
}
.menu-icon > .line + .line {
  margin-top: 5px;
}

.logo {
  float: left;
}

.logo-style {
  border-top: 4px solid #ff5d27;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 0.5px;
  line-height: 13px;
  padding: 15px 0px 22px 15px;
}

.q {
  color: red;
  font-size: 40px;
}

.costs {
  background-color: #eeeeee;
  padding: 15px;
}

.costs > .title {
  text-align: center;
  padding-bottom: 20px;
  letter-spacing: 1;
  font-size: 20px;
}

.boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.boxes .box {
  padding: 10px 23px 10px 23px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 5px;
  width: 18%;
  word-wrap: break-word;
  line-height: normal;
  color: #383838;
}

.supper {
  position: relative;
  top: -6px;
  right: 1px;
  color: #8d8a8a;
}

.separator {
  display: flex;
  flex-direction: row;
  height: 10px;
  margin-top: 15px;
  border-radius: 10px;
}

.sep1 {
  height: 100%;
  background-color: #ffc31f;
  width: 33%;
}
.sep2 {
  height: 100%;
  background-color: #3e97ff;
  width: 33%;
}
.sep3 {
  width: 34%;
  height: 100%;
  background-color: #26be0a;
}

.boxes .box p {
  font-size: small;
  font-weight: bolder;
}

.boxes .box span {
  font-size: 25px;
}

.btn {
  text-align: center;
  margin-top: 20px;
  background-color: #ffffff;
  padding: 10px 0px 10px 0px;
  border-radius: 5px;
  color: #ff5d27;
  font-weight: bolder;
}

.card {
  padding: 0px 20px 0px 20px;
  margin-bottom: 10px;
  width: 300px;
  height: fit-content;
}

.card > .img {
  border-top: 1px #cccccc solid;
  padding-top: 10px;
  height: 150px;
  width: 100%;
}

.card-sides {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.card-sides > .type {
  border: red 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px 0px 20px;
}

.card-sides > .type > span {
  font-weight: bolder;
}

.card-sides p {
  margin-top: 2px;
  margin-bottom: 2px;
}

.card-title {
  font-size: 20px;
  font-weight: bolder;
  padding: 10px 0px 10px 0px;
}

.card-title > span {
  font-weight: 200;
}

.card-subTitle {
  font-weight: 100;
  color: #333333;
}

.price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #666666;
}

.price span {
  font-size: 40px;
  font-weight: bolder;
}

.bar {
  height: 10px;
  background-color: red;
  display: flex;
  flex-direction: row;
}

.desc > .line {
  font-size: 15px;
  color: #797979;
}

.line > span {
  font-weight: 900;
  color: #666666;
}

.bg-btn {
  background-color: #ff5d27;
  text-align: center;
  padding: 10px 10px 10px 10px;
  margin-top: 25px;
  color: #ffffff;
  font-weight: bold;
}

.footer {
  background-color: #333333;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 70px;
}

.footer p {
  text-align: center;
  color: #ffffff;
  font-weight: bolder;
  font-size: 20px;
  padding-top: 20px;
}

.footer .small {
  font-weight: 200;
  font-size: 13px;
}

.footer-nav-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ff5d27;
  color: white;
  text-align: center;
  height: 50px;
  vertical-align: middle;
  font-size: 30px;
  font-weight: bolder;
}

.footer-nav-bar p {
  height: 100%;
  padding-top: 10px;
}

.footer-nav-bar i {
  height: 100%;
  padding-top: 10px;
}

.cx {
  font-size: 40px;
  font-weight: 100;
  color: #ff5d27;
}

.km {
  float: right;
  font-size: 20px;
  color: #ff5d27;
}

.like {
  color: #ff5d27;
  text-decoration: underline;
  font-weight: 900;
}

.pop {
  padding-top: 76px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

.pop-title {
  text-align: center;
  width: 70%;
  font-size: 12px;
  letter-spacing: 0.5px;
  font-weight: 100;
  display: flex;
  align-items: center;
}

.pop ::content {
  padding-top: 50px;
  content: none;
}

@media screen and (min-width: 1080px) {
  .costs {
    padding-left: 170px;
    padding-right: 170px;
  }

  .pop {
    padding-left: 170px;
    padding-right: 170px;
  }

  .nav-bar {
    display: none;
  }
}
